<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>chat2</title>
  </head>
  <body>
    <h1>chat2</h1>
    <h2>welcome to chat {{ room }}</h2>

    <div id="messages"></div>
    <form>
        <input type="text" placeholder="enter text">
        <button type="submit">send</button>
    </form>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
    
  <script>
      const socket = io.connect("http://127.0.0.1:5000");

      socket.on('connect', function() {
          socket.emit('join_room',{
              username: "{{ username }}",
              room: "{{ room }}"
          })
      })
  </script>
  </html>