<body>
    <h1>hi!</h1>
    <div id="container">
        <canvas id="canvasOutput"></canvas>
        <video autoplay="true" id="videoElement"></video>
    </div>

    <div class = 'video'>
        <img id="image">
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
<script>
    var socket = io('http://http://127.0.0.1:5000/');

    socket.on('image', (data) => {
        console.log('pog')
        socket.emit('pong', data)
    })

</script>